body {
	text-align: left;
	font-family: Georgia, 'Times New Roman', Serif;
	font-size: 16px;
	line-height: 1.3;
	padding: 120px 0 0 0;
	background: rgba(250,250,250,1);
	margin: 0; }

a, a:link, a:visited, a:hover {
	text-decoration: none;
	color: #000; }

.studies { 
	font-size: 80%; 
	margin: 20px auto;
	padding: 0;
	width: auto; 
	max-width: 890px; }

.hide {
	display: none;
	}

.show {
	display: inline-block;
	}


/* BAR */

.header {
	position: fixed;
	bottom: 0;
	right: 0;
	background: none;
	display: block;
	padding: 0;
	z-index: 100000; }
	
.header_button {
	display: block;
	margin: 10px 30px 10px 0;
	font-size: 35px;
	color: rgba(30,30,30,0.75); }
	
.float_left {
	float: left; }
	
.float_right {
	float: right; }


/* HEADER */

#begin-image {
	position: absolute;
	top: 50px;
	left: 50px;
	max-width: 70%;
	z-index: 101;
	}

#navigation-header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	background: rgba(255,255,255,1);
	box-shadow: 0 5px 40px -13px rgba(50,50,50,0.3);
	padding: 10px;
	z-index: 100;
	}

.navigation-header-item {
	margin: 5px 10px;
	padding: 8px 20px 7px 17px;
	border-radius: 100px;
	background: #fff;
	display: inline-block;
	border: 1px solid #555;
	cursor: pointer;
	text-align: center;
	color: #333;
	font-size: 80%;
	font-weight: 700;
	font-family: Arial, Helvetica, Sans Serif;
	}

.navigation-header-item::first-letter {
	vertical-align: top;
	}

amp-lightbox {
	margin: 0;
	padding: 80px 20px 20px;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 30px 0 rgba(30,30,30,0.3);
	text-align: left;
	box-sizing: border-box;
	position: relative;
	width: auto;
	}

.lightboxes-close {
	left: 20px;
	top: 20px;
	position: fixed;
	color: rgba(50,50,50,0.8);
	background: rgba(255,255,255,1);
	box-shadow: 2px 2px 20px -5px rgba(40,40,40,0.5); 
	opacity: 1;
	padding: 7px 14px 7px 12px;
	border-radius: 100px;
	font-weight: 700;
	font-size: 70%;
	line-height: 1em;
	font-family: Arial, Helvetica, Sans Serif;
	z-index: 10000;
	cursor: pointer;
	}

.lightboxes-close:before {
	content: '\293A';
	font-size: 130%;
	margin: 0 5px 0 0;
	display: inline-block; }

.sidebar-back {
	font-size: 90%;
	font-weight: 700;
	line-height: 1em;
	font-family: Arial, Helvetica, Sans Serif;
	cursor: pointer;
	text-align: right;
	margin: 0 0 20px 0;
	}

.sidebar-back:before {
	content: '\293A';
	font-size: 130%;
	margin: 0 5px 0 0;
	display: inline-block; }


#sidebar-navigation {
	width: 650px;
	background: rgba(255,255,255,1);
	margin: 0;
	padding: 20px;
	box-shadow: 0 0 30px 0 rgba(30,30,30,0.3);
	text-align: left;
	box-sizing: border-box;
	line-height: 1.3em;
	}

#sidebar-navigation ul {
	margin: 0;
	padding: 20px;
	border: 0;
	display: block;
	}


#sidebar-navigation ul li {
	margin: 0;
	padding: 0;
	border: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}

#sidebar-navigation li.sidebar-navigation-item, .sidebar-navigation-item {
	margin: 0;
	padding: 10px;
	border-bottom: 2px solid rgba(200,200,200,0.8);
	font-family: Assistant;
	}

div.sidebar-navigation-item {
	display: block;
	}

.sidebar-navigation-item-title {
	font-size: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline;
	}

.sidebar-navigation-item-button {
	font-family: 'Roboto', Helvetica, 'Sans Serif';
	font-size: 60%;
	background: rgba(200,200,200,1);
	color: rgba(255,255,255,1);
	font-weight: 700;
	padding: 3px 8px;
	margin: 0;
	border-radius: 100px;
	float: right;
	}

#sidebar-navigation-search {
	white-space: normal;
	padding: 0 0 10px;
	text-align: center;
	}

#sidebar-navigation-search-button, #sidebar-navigation-search-input {
	margin: 15px auto 5px;
	padding: 9px 15px;
	border-radius: 100px;
	line-height: 1em;
	font-weight: 400;
	font-family: Arial, Helvetica, Sans Serif;
	}

#sidebar-navigation-search-button {
	display: table;
	background: #666;
	border: 1px solid #666;
	color: #fff;
	text-align: center;
	cursor: pointer;
	}

#sidebar-navigation-search-input {
	display: block;
	background: #fff;
	border: 1px solid #555;
	color: #333;
	text-align: left;
	max-width: none;
	width: 100%;
	max-width: 80%;
	}

#sidebar-navigation-search-input::placeholder {
	font-size: 90%;
	}

/* Make the input and description same width and placement */
#login-popover label, #login-popover input, #login-popover .password-toggle {
	display: block;
	margin: 5px auto;
	max-width: 400px;
	width: 95%;
	text-align: left;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	}

/* Just different margin, padding, size */
#login-popover label, #login-popover .password-toggle {
	color: rgba(100,100,100,0.8);
	font-size: 70%;
	padding: 40px 20px 0;
	}

#login-popover .password-toggle {
	padding: 10px 20px 0;
	cursor: pointer;
	}

/* Set margin, padding, size, but also backgorund and shadow */
#login-popover input {
	color: rgba(0,0,0,1);
	font-size: 75%;
	padding: 15px 20px;
	background: rgba(235,235,235,1);
	border-bottom: 1px solid rgba(255,255,255,0.4);
	box-shadow: 3px 12px 12px -9px rgba(50,50,50,0.2);
	}

#login-popover input::placeholder {
	color: rgba(100,100,100,0.8);
	}

#login-popover input::-webkit-autofill {
	background-image: linear-gradient(300deg, rgba(250,250,250,1), rgba(230,230,230,1));
	color: rgba(100,100,100,0.8);
	}

#login-popover-submit, #logout-popover-submit, #new-popover-submit, #delete-popover-submit {
	font-size: 80%;
	display: table;
	max-width: 300px;
	margin: 30px auto;
	padding: 10px 60px;
	border: 0;
	border-radius: 100px;
	background-image: linear-gradient(80deg, rgba(50,50,50,0.5), rgba(20,20,20,0.5));
	color: rgba(255,255,255,1);
	box-shadow: none;
	box-sizing: border-box;
	}

.form-feedback {
	margin: 15px auto 15px;
	padding: 10px;
	text-align: center;
	}

@media only screen and (min-width: 650px)  {
	.categories-item-button { display: inline-block; }
	}


.categories-item-indent-wrapper {
	display: inline;
	max-width: 400px;
	overflow: hidden;
	}
	

.categories-item-indent {
	float: left;
	display: inline;
	height: 100%;
	width: 30px;
	height: 30px;
	}

.categories-item-indent::before {
	content: ' ';
	}


/* FORMS */

*:focus {
	outline: none;
	outline-width: 0;
	}


form {
	display: inline;
	}


/* MISCELLANEOUS */

.material-icons {
	vertical-align: middle; }

.fadeout { 
	opacity: 0.25; }



/* ARTICLE */

header {
	display: block;
	margin: 50px 0;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	}

h1, h2, h3, h4, h5, h6 {
	width: auto;
	max-width: 850px; 
	border: 0;
	display: block;
	clear: both;
	vertical-align: top;
	margin: 30px 0;
	padding: 20px;
	text-align: left;
	word-break: break-all;
	}

h1 span {
	display: block;
	}

h1 {
	font-size: 170%;
	line-height: 130%;
	}

h2 {
	font-family: Times New Roman;
	font-size: 155%;
	line-height: 120%;
	font-weight: 700; }

h3 {
	font-family: Times New Roman;
	font-size: 140%;
	font-weight: 700;
	}

h4, h5, h6 {
	font-size: 120%;
	font-weight: 400;
	text-align: left;
	font-style: italic; }


#edit-entry {
	float: right;
	border: 1px solid #333;
	padding: 8px 12px;
	}

.article-info {
	display: block;
	position: relative;
	padding: 0;
	margin: 0 0 100px 0;
	}

.article-info-section {
	margin: 20px;
	padding: 20px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	border-color: #555;
	display: block;
	column-width: 300px;
	column-count: auto;
	column-gap: 30px;
	clear: both;
	text-align: left;
	}

.article-info-section + .article-info-section {
	border-width: 0 0 2px 0;
	padding-top: 0;
	}

.article-info-section-caption {
	display: block;
	column-span: all;
	padding: 0;
	margin: 0;
	font-family: Assistant;
	font-size: 80%;
	}

.article-info-section-item {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	clear: both;
	text-overflow: ellipsis;
	width: 300px;
	box-sizing: border-box;
	padding: 5px 5px 0 0;
	margin: 0;
	font-family: Roboto, Helvetica;
	font-size: 80%;
	line-height: 1em;
	}


body, article {
	}

span, div {
	background: inherit; }

article a {
	color: <? echo $color ?>; }

article a:hover {
	color: <? echo $color ?>; }

iframe {
	display: block;
	margin: 10px auto; }

hr {
	display: block;
	clear: both;
	text-align: center;
	margin: 90px 20px 110px;
	max-width: 1200px;
	height: 5px;
	background: rgba(200,200,200,0.5);
	border: 0; }

hr + hr {
	display: none; }

p, summary, ul, ol, blockquote {
	width: auto;
	max-width: 850px; 
	border: 0;
	display: block;
	clear: both;
	vertical-align: top;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
	}
	
article, th, td,
p, summary, ul, ol, blockquote {
	font-weight: 400;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Serif; }

blockquote {
	border: 2px solid rgba(0,0,0,.2);
	border-radius: 6px;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;
	}

blockquote::before, blockquote::after {
	display: block;
	line-height: 1;
	font-size: 300%;
	color: rgba(0,0,0,.2);
	font-family: 'Times New Roman';
	position: absolute;
	font-weight: 700; }
	
blockquote::before {	
	content: '“';
	top: 5px;
	left: 5px;
	}

blockquote::after {	
	content: '”';
	bottom: -5px;
	right: 5px;
	}

table blockquote::before {
	padding-left: 0; }

blockquote cite {
	text-align: left;
	display: block;
	width: 60%;
	max-width: 750px; }

blockquote cite, blockquote cite a {
	color: rgba(0,0,0,0.7);
	font-style: normal;
	font-size: 17px; }

blockquote blockquote {
	width: 80%;
	max-width: 850px;
	margin: 20px auto; }

blockquote blockquote p {
	margin: 20px 0;
	width: 100%; }

blockquote blockquote::before, blockquote blockquote::after {
	color: rgba(0,0,0,0.5);
	position: relative; }

blockquote blockquote::before {
	padding-left: 0; }

blockquote blockquote::after {
	font-size: 25px; }

table {
	width: 100%;
	margin: 100px auto;
	box-sizing: border-box;
	table-layout: auto;
	border-collapse: collapse;
	overflow: auto;
	display: inline-block;
	border: 2px solid rgba(245,245,245,1);
	}

table table {
	margin: 20px 0; }

tbody tr:nth-child(odd) td {
	background: rgba(255,255,255,1); }

tbody tr:nth-child(even) td {
	background: rgba(250,250,250,1); }

thead {
	color: rgba(0,0,0,0.55);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	left: 0;
	}

tbody {
	}

th, td {
	padding: 10px;
	vertical-align: top;
	font-weight: 400;
	text-align: left;
	margin: 0;
	border: 2px solid rgba(245,245,245,1);
	}

th {
	font-style: italic; }

th p, td p, li p {
	margin: 0;
	padding: 0;
	}

th p + p, td p + p, li p + p {
	margin-top: 10px; }

article ul, article ol {
	width: auto;
	max-width: 850px;	
	margin: 30px auto 30px;
	padding: 0 40px;
	list-style-position: outside;
	line-height: 1.5; }

article ul ul, article ol ol, article ul ol, article ol ul {
	width: auto;
	max-width: none;
	margin: 5px 0 0 5px; }

article li {
	padding: 4px 0 9px 20px;
	margin: 0;
	position: relative; }

article li ul + ul, article li ol + ol, article li ul + ol, article li ol + ul {
	margin-top: 20px; }

article ul > li {
	border-left: 2px solid rgba(200,200,200,0.5);
	list-style-type: none; }

article ul > li:last-child {
	padding-bottom: 20px; }

article ul > li:last-child::after {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 150px;
	height: 2px;
	background: rgba(200,200,200,0.5); }

article ul > li:before {
	content: ' ';
	display: block;
	width: 12px;
	height: 2px;
	background: rgba(200,200,200,0.5);
	position: absolute;
	top: 18px;
	left: 0; }

article ol {
	list-style-type: decimal; }
article ol ol {
	list-style-type: lower-roman; }

article ol ol ol {
	list-style-type: lower-alpha; }




/* LINK TILES */

div.tile {
	font-family: Garamond, 'Times New Roman', Serif;
	font-size: 30px;
	line-height: 1.3;
	font-weight: 700;
	display: block;
	padding: 0 0 30px 0;
	margin: 30px 30px 50px;
	position: relative; }

div.tile a, div.tile {
	color: rgba(20,20,20,0.9); }

div.tile div {
	font-family: Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	display: inline-block;
	border-radius: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px 15px; }

div.tile div.tile-read-more {
	color: #fff;
	left: 0; }

div.tile div.tile-edit {
	color: rgba(50,50,50,0.8);
	left: 90px; }



/* SNIPPETS */

div.snippet-credit, div.snippet-date, div.snippet-edit {
	font-family: Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	display: inline-block;
	border-radius: 4px;
	position: relative;
	padding: 5px 15px; }

div.snippet-credit {
	color: #fff;
	left: 30px; }

div.snippet-date {
	font-weight: 700;
	color: rgba(10,10,10,0.9);
	left: 40px; }

div.snippet-edit {
	color: rgba(50,50,50,0.8);
	left: 30px; }



/* IMAGES */

div.image_thumbnail {
	text-align: left;
	display: inline-block;
	position: relative;
	border: 0;
	vertical-align: top;
	overflow: hidden;
	margin: 20px 20px 10px 20px;
	padding: 0;
	font-family: 'Garamond', 'Times New Roman', Serif; }

div.image_thumbnail amp-img {
	display: block;
	max-height: 253px;
	padding: 0 0 5px 0;
	margin: 0;
	border-radius: 4px; }

div.image_large {
	position: relative;
	display: block;
	margin: 50px 20px 60px;
	text-align: left; }

div.image_large amp-img {
	display: inline-block;
	border-radius: 4px; }

div.image_large amp-fit-text {
	display: block; }

div.image-div-link-button {
	background: rgba(255,255,255,1);
	color: <? echo $color ?>;
	font-size: 17px;
	padding: 4px 10px;
	border-radius: 100px;
	position: absolute;
	display: none;
	top: 7px;
	left: 6px; }

div.image-div-open-button {
	font-family: 'Arial';
	background: rgba(255,255,255,1);
	color: rgba(50,50,50,0.8);
	font-size: 13px;
	line-height: 1.3;
	padding: 6px 10px 5px;
	border-radius: 4px;
	position: absolute;
	display: none;
	top: 7px;
	left: 53px; }

div.image_thumbnail:hover div.image-div-link-button,
div.image_large:hover div.image-div-link-button,
div.image_thumbnail:hover div.image-div-open-button,
div.image_large:hover div.image-div-open-button {
	display: inline-block;
	transition: 0.3s; }

div.image_thumbnail:hover div.image-div-link-button:active,
div.image_large:hover div.image-div-link-button:active {
	display: none; }
	
figure {
	margin: 0;
	padding: 0; }

figcaption {
	display: block;
	caption-side: bottom;
	text-align: left; }

image.amp-lightbox {
	z-index: 10000;
	}

amp-lightbox div.image_large {
	margin: 70px 20px 20px; }

amp-lightbox figcaption {
	display: block;
	margin: 0;
	padding: 0; }

div.amp-lightbox-image-link-button {
	display: inline-block;
	text-align: right;
	font-family: Arial;
	padding: 12px 20px 10px;
	font-size: 14px;
	line-height: 1.3;
	text-transform: uppercase;
	color: <? echo $color ?>;
	background: #fff;
	border: 1px solid <? echo $color ?>;
	border-radius: 4px;
	margin: 10px 30px 0 20px; }

div.amp-lightbox-media-id {
	display: inline-block;
	text-align: right;
	font-family: Arial;
	padding: 12px 0 10px;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	color: rgba(50,50,50,0.7);
	border: 0 solid <? echo $color ?>;
	border-radius: 4px;
	margin: 10px 20px 0; }

.amp-lightbox-close {
	z-index: 10000000000;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	font-family: Arial;
	text-transform: uppercase;
	padding: 12px 0 10px;
	font-size: 14px;
	line-height: 15px;
	color: #fff;
	border-radius: 0;
	margin: 0; }


/* EDIT */

#admin-page-actions {
	display: block;
	width: 100%;
	height: 60px;
	margin: 0 0 110px;
	padding: 0;
	position: relative;
	}

#admin-page-new-entry, #admin-page-delete, #admin-page-log-out {
	font-size: 70%;
	position: absolute;
	background-image: linear-gradient(300deg, rgba(250,250,250,1), rgba(240,240,240,1));
	color: rgba(0,0,0,1);
	padding: 5px 10px;
	border-radius: 100px;
	}

#admin-page-new-entry {
	top: 10px;
	left: 10px;
	}

#admin-page-delete {
	top: 50px;
	left: 10px;
	}

#admin-page-log-out {
	top: 10px;
	right: 10px;
	}

.admin-page-form h2 {
	max-width: 600px;
	margin: 5px;
	padding: 130px 20px 10px;
	}
	
.admin-page-form p {
	max-width: 600px;
	margin: 5px;
	padding: 60px 20px 0;
	}

.admin-page-form label, .admin-page-form input, .admin-page-form textarea, .admin-page-form amp-selector {
	display: block;
	margin: 5px 8px;
	padding: 8px;
	width: 95%;
	text-align: left;
	border: 0;
	border-radius: 6px;
	box-sizing: border-box;
	font-family: Verdana, Helvetica, 'Sans Serif';
	font-size: 90%;
	line-height: inherit;
	}

.admin-page-form input, .admin-page-form textarea, .admin-page-form amp-selector {
	border-radius: 10px;
	color: rgba(0,0,0,1);
	padding: 15px;
	max-width: 850px;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(100,100,100,0.5);
	box-shadow: 3px 12px 15px -9px rgba(50,50,50,0.1);
	}

.admin-page-form label {
	font-style: italic;
	color: rgba(100,100,100,0.8);
	padding: 40px 16px 5px;
	}
	
.admin-page-form-summary {
	height: 250px;
	}

.admin-page-form-body {
	height: 600px;
	max-height: none;
	}

.admin-page-form amp-selector div {
	max-height: 340px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0 100px 0 0;
	font-size: 70%;
	border-radius: 6px;
	background: rgba(235,235,235,1);
	border-bottom: 1px solid rgba(255,255,255,0.7);
	box-shadow: 3px 12px 12px -9px rgba(50,50,50,0.2);
	}

.admin-page-form amp-selector span {
	padding: 6px 18px;
	margin: 0;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 0;
	font-family: Verdana, Helvetica, 'Sans Serif';
	}

.admin-page-form amp-selector span:first-child {
	padding-top: 10px;
	}

.admin-page-form amp-selector span:last-child {
	padding-bottom: 10px;
	}

.admin-page-form amp-selector span[selected] {
	background: rgba(100,100,100,1);
	border: 0;
	color: rgba(255,255,255,1);
	}

.admin-page-form amp-selector span[disabled] {
	font-weight: 400;
	color: rgba(200,200,200,1);
	opacity: 0.9;
	}

#admin-page-form-snackbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 90px 10px 10px;
	vertical-align: middle;
	background: rgba(255,255,255,1);
	color: rgba(50,50,50,1);
	box-shadow: 0 -5px 35px -12px rgba(30,30,30,0.3);
	font-size: 80%;
	}

#admin-page-form-save {
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(150,150,150,1);
	color: rgba(255,255,255,1);
	padding: 10px 25px;
	vertical-align: middle;
	border-radius: 0;
	font-size: 80%;
	}


/* Table breaks for mobile */

@media only screen and (max-width: 500px)  {
	blockquote cite { width: 100%; }
	th, td { display: block;}
	th + th, td + td, th + td, td + th { border-left: none; border-top: 2px solid rgba(200,200,200,0.12); }

	
/* MATHEMATICS */
	
.overline { text-decoration: overline; }

.smallcaps { font-variant: small-caps; }
