body {
	text-align: left;
	font-family: Georgia, 'Times New Roman', Serif;
	font-size: 16px;
	line-height: 1.3;
	background: rgba(250,250,250,1);
	margin: 0;
	padding: 0;
	}

a, a:link, a:visited, a:hover {
	text-decoration: none;
	color: #000; }

.studies { 
	font-size: 80%; 
	margin: 20px auto;
	padding: 0;
	width: auto; 
	max-width: 890px; }
	
.float_left {
	float: left; }
	
.float_right {
	float: right; }


/* HEADER */

#begin-image {
	position: absolute;
	top: 50px;
	left: 50px;
	max-width: 70%;
	z-index: 101;
	}

#navigation-header {
	box-sizing: border-box;
	width: 100%;
	background: rgba(255,255,255,1);
	box-shadow: 0 5px 40px -13px rgba(50,50,50,0.3);
	padding: 10px;
	z-index: 100;
	margin: 0 0 50px 0;
	}

.navigation-header-item, .sidebar-back {
	font-size: 90%;
	line-height: 1em;
	margin: 5px 10px;
	padding: 8px 10px;
	border-radius: 100px;
	background: #fff;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	color: rgba(30,30,30,1);
	font-size: 80%;
	font-weight: 700;
	font-family: Arial, Helvetica, Sans Serif;
	}

.navigation-header-item::first-letter, .sidebar-back::first-letter {
	vertical-align: top;
	}

#entries-list-alphabetical .navigation-header-item, #entries-list-hierarchical .navigation-header-item {
	top: 0;
	right: 0;
	position: absolute;
	}

amp-lightbox {
	margin: 0;
	padding: 80px 20px 20px;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 30px 0 rgba(30,30,30,0.3);
	text-align: left;
	box-sizing: border-box;
	position: relative;
	width: auto;
	}


.sidebar-back {
	display: block;
	cursor: pointer;
	text-align: right;
	padding: 3px 15px;
	margin: 10px 0 20px 0;
	}

.sidebar-back:before {
	content: '\293A';
	font-size: 130%;
	margin: 0 5px 0 0;
	display: inline-block; }

amp-lightbox, amp-sidebar {
	margin: 0;
	padding: 10px 25px 10px 20px;
	background: rgba(255,255,255,1);
	text-align: left;
	box-sizing: border-box;
	position: relative;
	line-height: 1.3em;
	white-space: normal;
	}

amp-sidebar {
	width: 650px;
	}

div.sidebar-navigation-item {
	display: block;
	}
	
.sidebar-navigation-item-title, .entries-list-item-tile {
	font-size: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline;
	}

.sidebar-navigation-item-button {
	font-family: 'Roboto', Helvetica, 'Sans Serif';
	font-size: 60%;
	background: rgba(200,200,200,1);
	color: rgba(255,255,255,1);
	font-weight: 700;
	padding: 3px 8px;
	margin: 0;
	border-radius: 100px;
	float: right;
	}

amp-sidebar label {
	padding-top: 10px;
	}

#login-popover-submit, #logout-popover-submit, #new-popover-submit, #delete-popover-submit, #search-submit {
	display: table;
	max-width: 300px;
	margin: 30px 50px;
	padding: 10px 60px;
	border: 0;
	border-radius: 100px;
	background-image: linear-gradient(80deg, rgba(50,50,50,0.5), rgba(20,20,20,0.5));
	color: rgba(255,255,255,1);
	box-shadow: none;
	box-sizing: border-box;
	}

#search-submit {
	margin: 20px auto;
	}

.form-feedback {
	margin: 15px auto 15px;
	padding: 10px;
	text-align: center;
	}

@media only screen and (min-width: 650px)  {
	.categories-item-button { display: inline-block; }
	}


.categories-item-indent-wrapper {
	display: inline;
	max-width: 400px;
	overflow: hidden;
	}
	

.categories-item-indent {
	float: left;
	display: inline;
	height: 100%;
	width: 30px;
	height: 30px;
	}

.categories-item-indent::before {
	content: ' ';
	}


/* FORMS */

*:focus {
	outline: none;
	outline-width: 0;
	}


form {
	display: inline;
	}


/* MISCELLANEOUS */

.material-icons {
	vertical-align: middle; }

.fadeout { 
	opacity: 0.25; }



/* ARTICLE */

header {
	display: contents;
	}

h1, h2, h3, h4, h5, h6 {
	width: auto;
	max-width: 850px; 
	border: 0;
	display: block;
	clear: both;
	vertical-align: top;
	margin: 30px 0;
	padding: 20px;
	text-align: left;
	word-break: normal;
	}

h1 span {
	display: block;
	margin: 10px auto;
	}

h1 {
	margin: 60px auto 0;
	font-size: 170%;
	line-height: 130%;
	text-align: center;
	}

h2 {
	font-family: Times New Roman;
	font-size: 155%;
	line-height: 120%;
	font-weight: 700; }

h3 {
	font-family: Times New Roman;
	font-size: 140%;
	font-weight: 700;
	}

h4, h5, h6 {
	font-size: 120%;
	font-weight: 400;
	text-align: left;
	font-style: italic; }

#edit-entry {
	float: right;
	border: 1px solid #333;
	padding: 8px 12px;
	}

#sidebar-entry-info-button-wrapper {
	display: block;
	margin: 20px 15px 0;
	text-align: right;
	}

#sidebar-entry-info-button {
	display: inline-block;
	}

#sidebar-entry-info .sidebar-navigation-item-title {
	font-size: 95%;
	}

body, article {
	position: relative;
	}

span, div {
	background: inherit; }

article a {
	color: <? echo $color ?>; }

article a:hover {
	color: <? echo $color ?>; }

hr {
	display: block;
	clear: both;
	text-align: center;
	margin: 90px 20px 110px;
	max-width: 1200px;
	height: 5px;
	background: rgba(200,200,200,0.5);
	border: 0; }

hr + hr {
	display: none; }

p, summary, ul, ol, blockquote {
	width: auto;
	max-width: 850px; 
	border: 0;
	display: block;
	clear: both;
	vertical-align: top;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
	}
	
article, article th, article td,
p, summary, ul, ol, blockquote {
	font-weight: 400;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Serif; }

blockquote {
	border: 2px solid rgba(0,0,0,.2);
	border-radius: 6px;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;
	}

blockquote::before, blockquote::after {
	display: block;
	line-height: 1;
	font-size: 300%;
	color: rgba(0,0,0,.2);
	font-family: 'Times New Roman';
	position: absolute;
	font-weight: 700; }
	
blockquote::before {	
	content: '“';
	top: 5px;
	left: 5px;
	}

blockquote::after {	
	content: '”';
	bottom: -5px;
	right: 5px;
	}

article table blockquote::before {
	padding-left: 0; }

blockquote cite {
	text-align: left;
	display: block;
	width: 60%;
	max-width: 750px; }

blockquote cite, blockquote cite a {
	color: rgba(0,0,0,0.7);
	font-style: normal;
	font-size: 17px; }

blockquote blockquote {
	width: 80%;
	max-width: 850px;
	margin: 20px auto; }

blockquote blockquote p {
	margin: 20px 0;
	width: 100%; }

blockquote blockquote::before, blockquote blockquote::after {
	color: rgba(0,0,0,0.5);
	position: relative; }

blockquote blockquote::before {
	padding-left: 0; }

blockquote blockquote::after {
	font-size: 25px; }

article table {
	margin: 20px auto;
	box-sizing: border-box;
	table-layout: auto;
	border-collapse: collapse;
	overflow: auto;
	border: 2px solid rgba(245,245,245,1);
	}

article table table {
	margin: 20px 0; }

article tbody tr:nth-child(odd) td {
	background: rgba(255,255,255,1); }

article tbody tr:nth-child(even) td {
	background: rgba(250,250,250,1); }

article thead {
	}

article tbody {
	}

article th, article td {
	padding: 10px;
	vertical-align: top;
	font-weight: 400;
	text-align: left;
	margin: 0;
	border: 2px solid rgba(245,245,245,1);
	}

article th {
	font-style: italic; }

article th p, article td p, article li p {
	margin: 0;
	padding: 0;
	}

article th p + p, article td p + p, article li p + p {
	margin-top: 10px; }

.entry-metadata-wrapper {
	display: block;
	text-align: center;
	margin: 0 0 30px;
	}

.entry-metadata, .entry-metadata-more {
	display: inline-block;
	font-style: italic;
	margin: 0;
	font-size: 90%;
	padding: 8px 20px;
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(100,100,100,0);
	border-radius: 100px;
	}

.entry-metadata-more {
	margin: 8px 20px;
	border: 1px solid rgba(100,100,100,0.8);
	cursor: pointer;
	}

/* LINK TILES */

div.tile {
	font-family: Garamond, 'Times New Roman', Serif;
	font-size: 30px;
	line-height: 1.3;
	font-weight: 700;
	display: block;
	padding: 0 0 30px 0;
	margin: 30px 30px 50px;
	position: relative; }

div.tile a, div.tile {
	color: rgba(20,20,20,0.9); }

div.tile div {
	font-family: Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	display: inline-block;
	border-radius: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px 15px; }

div.tile div.tile-read-more {
	color: #fff;
	left: 0; }

div.tile div.tile-edit {
	color: rgba(50,50,50,0.8);
	left: 90px; }



/* SNIPPETS */

div.snippet-credit, div.snippet-date, div.snippet-edit {
	font-family: Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	display: inline-block;
	border-radius: 4px;
	position: relative;
	padding: 5px 15px; }

div.snippet-credit {
	color: #fff;
	left: 30px; }

div.snippet-date {
	font-weight: 700;
	color: rgba(10,10,10,0.9);
	left: 40px; }

div.snippet-edit {
	color: rgba(50,50,50,0.8);
	left: 30px; }



/* IMAGES */

div.image_thumbnail {
	text-align: left;
	display: inline-block;
	position: relative;
	border: 0;
	vertical-align: top;
	overflow: hidden;
	margin: 20px 20px 10px 20px;
	padding: 0;
	font-family: 'Garamond', 'Times New Roman', Serif; }

div.image_thumbnail amp-img {
	display: block;
	max-height: 253px;
	padding: 0 0 5px 0;
	margin: 0;
	border-radius: 4px; }

div.image_large {
	position: relative;
	display: block;
	margin: 50px 20px 60px;
	text-align: left; }

div.image_large amp-img {
	display: inline-block;
	border-radius: 4px; }

div.image_large amp-fit-text {
	display: block; }

div.image-div-link-button {
	background: rgba(255,255,255,1);
	color: <? echo $color ?>;
	font-size: 17px;
	padding: 4px 10px;
	border-radius: 100px;
	position: absolute;
	display: none;
	top: 7px;
	left: 6px; }

div.image-div-open-button {
	font-family: 'Arial';
	background: rgba(255,255,255,1);
	color: rgba(50,50,50,0.8);
	font-size: 13px;
	line-height: 1.3;
	padding: 6px 10px 5px;
	border-radius: 4px;
	position: absolute;
	display: none;
	top: 7px;
	left: 53px; }

div.image_thumbnail:hover div.image-div-link-button,
div.image_large:hover div.image-div-link-button,
div.image_thumbnail:hover div.image-div-open-button,
div.image_large:hover div.image-div-open-button {
	display: inline-block;
	transition: 0.3s; }

div.image_thumbnail:hover div.image-div-link-button:active,
div.image_large:hover div.image-div-link-button:active {
	display: none; }
	
figure {
	margin: 0;
	padding: 0; }

figcaption {
	display: block;
	caption-side: bottom;
	text-align: left; }

image.amp-lightbox {
	z-index: 10000;
	}

amp-lightbox div.image_large {
	margin: 70px 20px 20px; }

amp-lightbox figcaption {
	display: block;
	margin: 0;
	padding: 0; }

div.amp-lightbox-image-link-button {
	display: inline-block;
	text-align: right;
	font-family: Arial;
	padding: 12px 20px 10px;
	font-size: 14px;
	line-height: 1.3;
	text-transform: uppercase;
	color: <? echo $color ?>;
	background: #fff;
	border: 1px solid <? echo $color ?>;
	border-radius: 4px;
	margin: 10px 30px 0 20px; }

div.amp-lightbox-media-id {
	display: inline-block;
	text-align: right;
	font-family: Arial;
	padding: 12px 0 10px;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	color: rgba(50,50,50,0.7);
	border: 0 solid <? echo $color ?>;
	border-radius: 4px;
	margin: 10px 20px 0; }


/* EDIT */

#admin-page-actions {
	display: block;
	width: 100%;
	height: 60px;
	margin: 0 0 110px;
	padding: 0;
	position: relative;
	}

#admin-page-new-entry, #admin-page-delete, #admin-page-log-out {
	font-size: 70%;
	position: absolute;
	background-image: linear-gradient(300deg, rgba(250,250,250,1), rgba(240,240,240,1));
	color: rgba(0,0,0,1);
	padding: 5px 10px;
	border-radius: 100px;
	}

#admin-page-new-entry {
	top: 10px;
	left: 10px;
	}

#admin-page-delete {
	top: 50px;
	left: 10px;
	}

#admin-page-log-out {
	top: 10px;
	right: 10px;
	}

.admin-page-form h2 {
	max-width: 600px;
	margin: 5px;
	padding: 130px 20px 10px;
	}
	
.admin-page-form p {
	max-width: 600px;
	margin: 5px;
	padding: 60px 20px 0;
	}

label, .password-toggle, input, textarea, amp-selector {
	display: block;
	margin: 5px 8px;
	padding: 8px;
	width: 95%;
	text-align: left;
	border: 0;
	border-radius: 6px;
	box-sizing: border-box;
	font-family: Verdana, Helvetica, 'Sans Serif';
	font-size: 90%;
	line-height: inherit;
	outline: 0 none rgba(255,255,255,0);
	}

input, textarea, amp-selector {
	margin: 5px 13px;
	border-radius: 10px;
	color: rgba(0,0,0,1);
	padding: 15px;
	max-width: 850px;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(100,100,100,0.5);
	box-shadow: 3px 12px 15px -9px rgba(50,50,50,0.1);
	}

input[type="date"] {
	max-width: 300px;
	}

label {
	font-style: italic;
	color: rgba(100,100,100,0.8);
	padding: 40px 16px 5px;
	}

.password-toggle {
	color: rgba(100,100,100,0.8);
	padding: 5px 16px 5px;
	}

.admin-page-form-summary {
	height: 250px;
	}

.admin-page-form-body {
	height: 600px;
	max-height: none;
	}

amp-selector {
	font-size: 90%;
	padding: 0;
	max-height: 365px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	outline: 0 none rgba(255,255,255,0);
	}

amp-selector span {
	padding: 7px 10px;
	margin: 0;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 0;
	border: 0 none rgba(255,255,255,0);
	outline: 0 none rgba(255,255,255,0);
	border-radius: 0;
	}

amp-selector span[selected], amp-selector span[aria-selected="true"] {
	background: rgba(100,100,100,1);
	color: rgba(255,255,255,1);
	border: 0 none rgba(255,255,255,0);
	outline: 0 none rgba(255,255,255,0);
	}

amp-selector span[disabled] {
	font-weight: 400;
	color: rgba(200,200,200,1);
	opacity: 0.9;
	}

#admin-page-form-snackbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 90px 10px 10px;
	vertical-align: middle;
	background: rgba(255,255,255,1);
	color: rgba(50,50,50,1);
	box-shadow: 0 -5px 35px -12px rgba(30,30,30,0.3);
	}

#admin-page-form-save {
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(150,150,150,1);
	color: rgba(255,255,255,1);
	padding: 10px 25px;
	vertical-align: middle;
	border-radius: 0;
	}

#footer-formula {
	display: none;
	text-direction: rtl;
	margin: 20px 0 50px;
	}


/* Table breaks for mobile */

@media only screen and (max-width: 500px)  {
	blockquote cite { width: 100%; }
	article th, article td { display: block;}
	article th + th, article td + td, article th + td, article td + th { border-left: none; border-top: 2px solid rgba(200,200,200,0.12); }
	}

@media print { 
	#navigation-header, #footer-formula {
		display: none;
		}
	}



/* Lists ... ul, ol, amp-list */

ul, ol, amp-list {
	position: relative;
	text-align: left;
	vertical-align: top;
	clear: both;
	width: auto;
	max-width: 850px;
	margin: 30px;
	padding: 0;
	list-style-position: outside;
	line-height: 1.4;
	border-left: 2px solid rgba(200,200,200,0.5);
	border-bottom: 2px solid rgba(200,200,200,0.5);
	box-sizing: border-box; }

ul ul, ul ol, ul amp-list,
ol ul, ol ol, ol amp-list,
amp-list ul, amp-list ol, amp-list amp-list {
	width: auto;
	max-width: none;
	margin: 0 0 5px 0;
	padding: 2px 0 0 0;
	}

li {
	padding: 3px 8px;
	margin: 0;
	position: relative; }

ul > li, amp-list li {
	list-style-type: none; }

ul > li:before, amp-list > li:before {
	content: ' ';
	display: block;
	width: 5px;
	height: 2px;
	background: rgba(200,200,200,0.5);
	position: absolute;
	top: 13px;
	left: 0; }

ol {
	list-style-type: decimal; }

ol ol {
	list-style-type: lower-roman; }

ol ol ol {
	list-style-type: lower-alpha; }

amp-sidebar ul, amp-sidebar ol, amp-sidebar amp-list {
	font-family: Arial, Helvetica, 'Sans Serif';
	margin: 0 0 5px 0;
	}

amp-sidebar ul > li:before, amp-sidebar ol > li:before, amp-sidebar amp-list > li:before {
	top: 14px;
	}

amp-sidebar ul li, amp-sidebar ol li, amp-sidebar amp-list li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}

.unnested-list {
	border: 0;
	}

.unnested-list li {
	margin: 0;
	padding: 10px;
	border-bottom: 2px solid rgba(200,200,200,0.8);
	border-left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}

.unnested-list li:before {
	display: none;
	}

/* Toggle classes */

.hide {
	display: none;
	}

.show {
	display: inline-block;
	}
